mega notebook. fit & characterize FFD variations

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import lightkurve as lk
from astropy.table import Table

import sys
sys.path.append('/Users/james/Dropbox/research_projects/FFD/')
import FFD

In [2]:
import matplotlib
matplotlib.rcParams.update({'font.size':18})
matplotlib.rcParams.update({'font.family':'serif'})

In [3]:
FS = pd.read_csv('flare_sample_step1.csv')
FS

         KIC        TIC  Nfl  K1min  K30min  T2min
0   11143395   27236187    2    0.0     1.0    2.0
1   11495571   48504458    2    0.0    15.0    1.0
2    6117602  122136861    2    0.0    17.0    3.0
3    8408875  123229811    2    0.0     4.0    2.0
4    8682921  159047957    2    1.0    18.0    2.0
5    8429280  159721038    3    1.0    18.0    3.0
6    9153754  159761686    3    0.0     4.0    2.0
7    9201463  164458193    3    0.0    17.0    4.0
8    7505473  164463430    3    0.0     4.0    4.0
9    7341653  164644375   11    0.0    16.0    4.0
10   8935655  164670606    8    0.0    17.0    4.0
11  11293949  267748551   10    0.0     4.0    4.0
12  10477502  271167645    2    0.0     8.0    4.0
13   8507979  272272592    6    0.0    18.0    3.0

so, just looking through the plots from FIND (Step 2), some look promising (though maybe incomplete), some look terrible... let's drop those!

In [6]:
ids = [11293949, 11143395, 10477502, 9201463, 9153754, 8935655, 8682921, 
       8507979, 8429280, 8408875, 7505473, 7341653, 6117602]
yns = ['yes', 'yes','no', 'Tno', 'Tno', 'Tno', 'no', 'yes', 'yes', 'yes', 'Kno', 'Kno', 'maybe']

print(len(ids), len(yns))

13 13